[workspace]
resolver = "2"
members = [
  "rs-lib",
  "wasm"
]

[workspace.dependencies]
anyhow = "1.0.44"
base64 = "0.21.5"
url = { version = "2.3.1" }

[profile.release]
codegen-units = 1
incremental = true
lto = true
opt-level = "z"

[patch.crates-io]
deno_graph = { path = "../deno_graph" }
